<div class="headerContainer">
    <img src={{img1}} alt="" class="logo">
    <img src={{img2}} alt="" class="toTransmit">
    <img src={{img3}} alt="" class="search">
    <img src={{img4}} alt="" class="filter">
    <img src={{img5}} alt="" class="user">

    <nav class="navigation">
        <ul class="nav">
            <li class="navIten"><a href="#">Series</a></li>
            <li class="navIten"><a href="#">Peliculas</a></li>
            <li class="navIten"><a href="#"><select name="" id=""><option value="">Categorias</option></select></a></li>
        </ul>
    </nav>
</div>