<div class="containerCard">
    <h1>
        <img src={{img1}} alt="">
        Pelicula
    </h1>
    <h1 class="movieTitle">
        Los Increibles
    </h1>
    <ul class="atributos">
        <li>Accion</li>
        <li><div class="punto"><p>W</p></div></li>
        <li>Animado</li>
        <li><div class="punto"><p>W</p></div></li>
        <li>pixar</li>
    </ul>
    <div class="boton1">
        <img src={{img2}} alt="">
        <p>Mi lista</p>
    </div>
    <div class="boton2">
        <img src={{img4}} alt="">
        <p>Reproducir</p>
    </div>
    <div class="boton3">
        <img src={{img3}} alt="">
        <p>Informacion</p>
    </div>
</div>