.containerHeader{
    background: url(../assets/images/image_4f447b1d.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 520px;
    filter: contrast(-50);
    
}